/* 
    Document   : boilerplate
    Created on : Feb 1, 2013, 1:23:34 PM
    Author     : jeremy.werst@gmail.com
    Description:
        Included on all pages of the site, including the dashboard.
*/
#header h1 a {
	color: red !important;
}